<main id="main">

    <section id="why-us" class="why-us section-bg">
        <div class="container-fluid" data-aos="fade-up">
    
          <div class="row">
    
            <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">
    
              <div class="content">
                <h3> <strong>Get Started In Minutes</strong></h3>
                <p>
                  <strong>Automatic Speech recognition</strong>
                </p>
               
              </div>
    
           <div class="accordion-list">
                <ul>
                  <li>
                    <i class="bi bi-check-circle-fill"></i>
    
                    <p  class="text-primary">pick a sample audio file</p>
                    <p>
                  <audio controls autoplay>
                            <source src="../../assets/sample.wav" type="audio/wav">
                           
                          </audio> <br>
                          <button type="button" class="btn btn-outline-primary" (click)="getTextSample()">Compute</button>
                          </p>
                       
                      
                    
                    
                    
                  </li>
    
                  <li>
                    <p  class="text-primary">Upload an Audio</p> <br>
                    <form #f=ngForm (ngSubmit)="uploadFileToActivity()">
                    <div class="form-group">
                      
                      <input type="file"
                             id="file"
                             name="file"
                             (change)="handleFileInput($event.target.files)"
                             accept=".wav,.m4a,.mp3,.flac" >
                  </div> 
                <br>
                <button type="submit" class="btn btn-outline-primary" >Compute</button>
              </form> 
    
                                   
                      
                      
                   
                  </li>
    
                  <li>
                    <p class="text-primary">Or record from browser</p>
                    <br>
                    
                      <button  (click)="initiateRecording()" class="btn btn-primary" *ngIf="!recording" style="cursor: pointer;background-color: green;color: white;font-size: 20px;"> Start Recording </button>
                      <button (click)="stopRecording()" class="btn btn-danger" *ngIf="recording" style="cursor: pointer;background-color: red;color: white;font-size: 20px;"> Stop Recording </button>
                      
                      <audio controls="" *ngIf="url"  >
                      <source [src]="sanitize(url)" type="audio/wav"  >
                      </audio>
                      <br>
                      <button class="btn btn-outline-primary" (click)="uploadaudio()">Compute</button>
                    
                      <br>
                      
    
                      
                          
                  </li>
    
                </ul>
                
    
        
              </div>
    
            </div>
    
            <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("../assets/img/why-us.png");' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>
          </div>
    
        </div>
      </section>
      </main>
      <app-result [sampletext]="text" [sampleintent]="intenttext" [sentimentaudio]="sentimenttext"></app-result>
    